





/*header*/

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #dee1dd;
    padding: 22px 15%;
    position: fixed;
    z-index: 100;
    width: 100%;
  }
  
.Blog_Titel{
    font-size: 2.5rem;
}
  
img {
    max-height: 100%;
}
  
.logo {
    height: 80px;
}
  

  
  
/*Main*/

.main{
  margin: 0 20vw;
  width: 60vw;
  }

/*Blog*/

.blog {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-right: auto;
    gap: 4.42%;
    justify-content: center;
    margin-top: 4rem;
  }
  
.blog_1, .blog_2, .blog_3 {
    background-color: #ded8ce;
    padding: 15px 40px;
    font-size: 1.25rem;
    border-radius: 30px;
    text-align: justify;
    max-width: 350px;
    margin-top: 50px;
    margin-bottom: 30px;
    flex: 33%;
}
  
.blog_1  img{
    max-height: 400px;
}
  
.blog_2  img{
    max-height: 400px;
    max-width: 100%;
    margin-top: 40px;
}
  
.blog_3  img{
    max-height: 400px;
    max-width: 100%;
}

  /*Footer Start*/

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
body{
    line-height: 1.5;
    font-family: 'Helvetica Neue', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    margin:auto;
    background-color: #dee1dd;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
 display: flex;
 justify-content: space-between;
 flex-wrap: nowrap;
}

.footer-col{
    width: 33%;
    justify-content: space-between;
}

.footer-col h4{
    font-size: 1rem;
    /*color: #dd8d8d;*/
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;

}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li{
	font-size: 1rem;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
  margin-left: 200px;
  margin-top: 20px;
  line-height: 10px;
}

.footer-col ul li a{
    font-size: 1rem;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    display: block;
}
.footer-col ul li a:hover{
	display: inline-block;
	position: relative;
	color: #a3bfb5;
  }

.footer-folgeuns {
  line-height: 10px;
  margin-top: 20px;
  margin-left: 200px;
}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #fffbf8;
	margin:20px 20px 20px 0px;
	text-align: center;
	line-height: 40px;
	border-radius: 60%;
	color: #000000;
	transition: all 0.5s ease;
}

.footer-folgeuns .social-links a:hover{
	color: #fffbf8;
	background-color: #a3bfb5;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*Footer Ende*/





/*Übergang*/

@media only screen and (max-width: 900px) {
  .logo {
    height: 55px;
  }
  
  h1 {
    font-size: 1.7rem;
  }
  
  .footer-col, .footer-col_2{
    width: 50%;
    margin-bottom: 30px;
}
}

/* Für Smartphone */

@media only screen and (max-width: 650px) {

  .logo {
    height: 50px;
  }
  
  body {
    background-color: lightblue;
  }

  h1 {
    font-size: 1.5rem;
  }

.footer{
  flex-wrap: nowrap;
}
  .footer-col h4, .footer-col_2 h4{
    font-size: 0.6rem;
  }
  .footer-col_2 {
    display: none;
  }
  .footer-col ul li, .footer-col_2 ul li{
    font-size: 0.6rem;
    margin-left: 100px;
    margin-top: 10px;
    line-height: 5px;
  }
  .footer-col ul li a, .footer-col_2 ul li a{
    font-size: 0.6rem;
  }
  .footer-folgeuns{
    font-size: 1rem;
    margin-left: 100px;
    margin-top: 20px;
    line-height: 10px;
  }
  .social-links a{
    height: 20px;
    width: 20px;
    margin:10px 10px 10px 0px;
    line-height: 20px;
    border-radius: 60%;
    
  }
  .footer-col {
    margin-top: 15px;
  }
}


