header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fffbf8;
  padding: 22px;
  position: fixed;

}



img {
  max-width: 100%;
  max-height: 100%;
 }

 .logo {
  height: 4%;
  width: 4%;
 }

.navigationsleiste {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0;
  list-style: none;
  font: size 30pt;
  font-family: Arial, Helvetica, sans-serif,

}

.navigationsleiste ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.navigationsleiste li {
  float: right;

}

.navigationsleiste li a {
  display: block;
  color: #36403c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationsleiste li a:hover {
  background-color: #dee1dd;
  border-radius: 30px;
}

#partner_logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 2em;
  align-items:center;
}


.partner_logos {
  object-fit: cover;
  max-width: 100%;
  width: 400%;
  margin-left: 200px;
}


#Muovi{
margin-left: 200px;
}

#Abholdienst{
  margin-left: 200px;
}

#Partner{
    margin-left: 200px;
}

#Blog{
    margin-left: 200px;
}

#Stadtbezirk_Text{
  margin-left: 200px;
}




/*Footer Start*/

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
body{
    line-height: 1.5;
    font-family: 'Helvetica Neue', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    /*max-width: 1170px;*/
    margin:auto;
    background-color: #a3bfb5;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #724828;
    padding: 70px 100%;
}
.footer-col{
    width: 33%;
    padding: 0 100px;
    
}
.footer-col h4{
    font-size: 18px;
    /*color: #dd8d8d;*/
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;

}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
  padding: 0px 0px 0px 0px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    display: block;
}
.footer-col ul li a:hover{
	display: inline-block;
	position: relative;
	color: #577960;
  }

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #fffbf8;
	margin:0px 20px 50px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 60%;
	color: #000000;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #fffbf8;
	background-color: #577960;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*Footer Ende*/






/* Für Smatrphone */


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}