html{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px;
    box-sizing: border-box;
    width: 100vw;
}

body{
    line-height: 1.5;
    font-family: 'Helvetica Neue', sans-serif;
}

*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
  }


  
  /*header*/
  
  header {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #dee1dd;
    padding: 20px 7%;
    position: fixed;
    width: 100vw;
    z-index: 100;
    top: 0;
  }
  
  
  img {
    max-height: 100%;
   }
  
   .logo {
    height: 80px;
   }
  
  
  .navigationsleiste {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    list-style: none;
    font-size:  2.0rem;
    font-family: Arial, Helvetica, sans-serif;
    gap: 3.75rem;
  }
  
  .navigationsleiste ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navigationsleiste li {
    float: right; 
  }
  
  .navigationsleiste li a {
    display: block;
    color: #36403c;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 2.0rem;
  }
  
  
  .navigationsleiste li a:hover {
    background-color: #a3bfb5;
    border-radius: 30px;
  }

  /*Header Blog*/

  .Blog_Titel{
    font-size: 4.2rem;
    margin-right: 5rem;
    margin-top: 0rem;
  }
  .h3 {
    margin-bottom: 0rem;
  }

  /*Header Q&A*/
  .QA_Titel{
    font-size: 4.2rem;
    margin-right: 5rem;
    margin-top: 0rem;
   }
  
  
  /*Main*/
  
  
  .Hintergund_Wasser img{
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 30rem;
  }

  .Pfeil {
    height: 5vw;
    margin-top: -60rem;
    margin-bottom: 30rem;
    margin-left: 45vw;
  }
  
  h1 {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display:block;
    font-size: 3.5rem;
  }
  
  main{
  margin: 0 20vw;
  width: 60vw;
  }

  .main{
    margin: 0 20vw;
    width: 60vw;
  }
  
  /*Video*/
  video {
    display: flex;
    margin-right: auto;
    max-width: 100%;
  }
  
  #Muovi{
    margin-top: -10rem;
    opacity: 0;
  }
  
  /*Abholdienst Kalender*/
  .Kalender {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-right: auto;
    gap: 70px;
  }
  
  
  .Kalender_Text{
    background-color: #ded8ce;
    padding: 15px 40px;
    font-size: 4.5rem;
    border-radius: 30px;
    margin-top: 20px;
  }
  
  /*Abholdienst Suchfunktion*/
  
  .Stadtbezirk{
    background-color: #ded8ce;
    border-radius: 16px;
    height: 32px;
    width: 200px;
    padding-left: 10px;
    font-size: 2.25rem;
  }
  
  #Stadtbezirk_Text{
    font-size: 2.25rem;
  }
  
  /*Partner*/
  
  .partner{
    background-color: #c3e6d9;
    padding: 0 20%;
  
  }
  .partner h1{
    margin-top: -40px;
    margin-bottom: 20px;
  }
  
  #partner_logos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 5vw;
    align-items:center;
    
  }
  
  .partner_logos img{
    max-height: 100%;
    max-width: 100%;
  }
  .partner_logos {
    object-fit: cover;
    width: 400%;
    justify-items: center;
  }
  
  .Partner_Container{
    width: 100vw;
    margin-left: -20vw; 
  }
  
  .Welle_Partner_oben{
    margin-top: 5rem;
  }
  .Welle_Partner_unten{
    margin-top: -0.4rem;
  }
  
  /*Team*/
  
  .Team_Grafik img{
    max-height: 100%;
    max-width: 100%;
  }
  
  .Team_Grafik{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5vw;
    align-items:center;
    font-size: 2rem;
    text-align: center;
  }
  
  /*Blog*/
  
  .blog {
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    gap: 4%;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
  .blog_1, .blog_2, .blog_3 {
    background-color: #ded8ce;
    padding: 15px 40px;
    font-size: 2rem;
    border-radius: 30px;
    text-align: justify;
    max-width: 350px;
    margin-top: 50px;
    margin-bottom: 30px;
    flex: 33%;
  
  }
  .blog_1 h2, .blog_2 h2, .blog_3 h2{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .blog_1  img, .blog_3 img{
    max-height: 400px;
    max-width: 100%;
  }
  
  .blog_2  img{
    max-height: 400px;
    max-width: 100%;
    margin-top: 40px;
  }
  
  
  .Blog_Link{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10rem;
    
  }
  .Blog_Link div {
    width: 300px;
    font-size: 2.25rem;
    border-radius: 7rem;
   
    padding: 15px;
    background-color: #577960;
    text-align: center;
    
  }
  .Blog_Link a{
    justify-content: center;
    width: 30%;
    text-decoration: none;
    color: #ffffff;
  }

  /*Blog Unterseite*/

  #blog_unterseite h1 {
    margin-top: 10rem;
    display: none;
  }
  .blog_unterseite{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-right: auto;
    gap: 4%;
    justify-content: center;
    margin-top: 10rem;
  }

  .blog_unterseite h2{  
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.blog_unterseite_1, .blog_unterseite_2, .blog_unterseite_3 {
    background-color: #ded8ce;
    padding: 15px 40px;
    font-size: 2rem;
    border-radius: 30px;
    text-align: justify;
    max-width: 350px;
    margin-top: 50px;
    margin-bottom: 30px;
    flex: 33%;
}
  
.blog_unterseite_1  img{
    max-height: 400px;
}
  
.blog_unterseite_2  img{
    max-height: 400px;
    max-width: 100%;
    margin-top: 40px;
}
  
.blog_unterseite_3  img{
    max-height: 400px;
    max-width: 100%;
}

  /*Q&A Unterseite*/

  *,
  *::before,
  *::after{
      margin: 0;
      padding: 0;
      box-sizing: inherit;
  }
  
  section{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-top: 10%;
  }
  
  .container_QA{
      width: 80%;
      margin: 0 auto;
      padding: 0 1.5rem;
  }
  
  .accordion{
      margin-top: 15rem;
  }
  
  .accordion-item{
      background-color: #577960;
      border-radius: .4rem;
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 2.5rem;
  }
  
  .accordion-link{
      font-size: 30px;
      color: #fffbf8;
      text-decoration: none;
      background-color: #577960;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
  }
  
  .minus{
      width: 24px;
      height: 24px;
      display: none;
  }
  .plus{
    width: 24px;
    height: 24px;
}
  
  .answer{
      max-height: 0;
      overflow: hidden;
      position: relative;
      background-color: #dee1dd2d;
      border-radius: 1rem;
  }
  .answer p{
      color:#fffbf8;
      font-size: 1.5rem;
      padding: 2rem;
  }
  .accordion-item:target .answer{
      max-height: 20rem;
  }
  .accordion-item:target .accordion-link .plus{
      display: none;
  }
  .accordion-item:target .accordion-link .minus{
      display: block;
  
  }
  .container_QA h3{
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 10%;
      text-align: center;
  }
  
  /*Footer Start*/
  
  @import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
  

  
  
  .container{
      margin: auto;
      background-color: #dee1dd;
  }
  .row{
      display: flex;
      flex-wrap: nowrap;
  }
  ul{
      list-style: none;
  }
  
  footer{
    margin-top: 3rem;
  }

  .QA_Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw; 
  }
  

  .footer-col, .footer-col_2{
    width: 33%;
    justify-content: space-between;
  }
  
  .footer-col h4, .footer-col_2 h4{
    font-size: 1.5rem;
    /*color: #dd8d8d;*/
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col_2 ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li, .footer-col_2 ul li{
      font-size: 1.5rem;
      text-transform: capitalize;
      text-decoration: none;
      font-weight: 300;
      color: #000000;
      display: block;
    margin-left: 200px;
    margin-top: 20px;
    line-height: 10px;
  }
  
  .footer-col ul li a, .footer-col_2 ul li a{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    display: block;
  }
  .footer-col ul li a:hover, .footer-col_2 ul li a:hover{
      display: inline-block;
      position: relative;
      color: #a3bfb5;
    }
  
  .footer-folgeuns {
    line-height: 10px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 1.5rem;
  }
  .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: #fffbf8;
      margin:20px 20px 20px 0px;
      text-align: center;
      line-height: 40px;
      border-radius: 60%;
      color: #000000;
      transition: all 0.5s ease;
  }
  
  .footer-folgeuns .social-links a:hover{
      color: #fffbf8;
      background-color: #a3bfb5;
  }
  
  /*Footer Ende*/
  
  
  
  /*übergang*/
  
  @media only screen and (max-width: 1500px) {
    .blog {
      display: flex;
      flex-wrap: wrap;
    }
    .blog_3 {
      display: none;
    }
  }
  
  
  
  /*Ipad*/
  
  @media only screen and (max-width: 1050px) {
    .logo {
    height: 60px;
    }

    .Hintergund_Wasser img{
    max-height: 100%;
    max-width: 100%;
    margin-top: 40px;
    }

    .Pfeil {
    margin-top: -50rem;
    }

    .navigationsleiste{
    font-size: 1.8rem;
    gap: 10px;
    }
    .navigationsleiste li a {
    font-size: 1.8rem;
    }
    .Kalender {
    gap: 40px;
    }
    .Kalender_Text{
    font-size: 3rem;
    }
    .Team_Grafik{
      gap: 2em;
      font-size: 1.4rem;
    }
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.2rem;
    }
    .Team_Grafik p{
      font-size: 1.4rem;
    }
  
    .footer-col h4, .footer-col_2 h4{
      font-size: 1.4rem;
    }
    .footer-col ul li, .footer-col_2 ul li{
      font-size: 1.4rem;
      margin-left: 100px;
      margin-top: 20px;
      line-height: 5px;
    }
    .footer-col ul li a, .footer-col_2 ul li a{
      font-size: 1.4rem;
    }
    .footer-folgeuns{
      font-size: 1.4rem;
      margin-left: 80px;
      margin-top: 20px;
      line-height: 10px;
    }
    .social-links a{
      height: 40px;
      width: 40px;
      margin:10px 10px 10px 0px;
      line-height: 40px;
      border-radius: 60%;
    }
    .footer-col {
      margin-bottom: 30px;
      width: 33%;
    }
  
  }
  
  
  /*Übergang*/
  
  @media only screen and (max-width: 900px) {
  
    .logo {
      height: 60px;
    }
    .Hintergund_Wasser img{
      max-height: 100%;
      max-width: 100%;
      margin-top: 4rem;
      margin-bottom: 30rem;
    }
    .Pfeil {
      margin-top: -50rem;
    } 
    .Team_Grafik{
      grid-template-columns: repeat(2,1fr);
    }
    .navigationsleiste {
      font-size: 1.6rem;
      gap: 5px;
      padding: 2px 7%;
    }
    .navigationsleiste li a{
      font-size: 1.6rem;
      padding: 3px 7px;
    }
    h1 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 1.6rem;
    }
    .Kalender {
      gap: 20px;
    }
    .Kalender_Text{
      font-size: 1.8rem;
      padding: 15px 25px;
      border-radius: 25%;
    }
    .Stadtbezirk{
      border-radius: 12px;
      height: 35px;
      width: 200px;
      font-size: 1.8rem;
    }
    #Stadtbezirk_Text{
      font-size: 1.8rem;
    }
    #partner_logos {
      grid-template-columns: repeat(2,1fr);
      gap: 10vw;
    }
    .partner h1 {
      margin-bottom: 5rem;
    }
    .blog_1, .blog_2, .blog_3 {
      flex: 100%;
      font-size: 1.6rem;
      padding: 10px 30px;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    .blog_1  img, .blog_3  img{
      height:50%;
    }
    .blog_2  img{
      max-height: 400px;
      max-width: 100%;
      margin-top: 30px;
    }
    .blog_1 h2, .blog_2 h2, .blog_3 h2 {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .footer {
      flex-wrap: nowrap;
    }
    .footer-col_2 {
      display: none;
    }
    .footer-col ul li, .footer-col_2 ul li{
      font-size: 1.6rem;
      margin-left: 100px;
      margin-top: 10px;
      line-height: 10px;
    }
    .footer-col ul li a, .footer-col_2 ul li a{
      font-size: 1.6rem;
    }
    .footer-folgeuns{
      font-size: 1.6rem;
      margin-left: 180px;
      margin-top: 20px;
      line-height: 10px;
    }
    .social-links a{
      height: 35px;
      width: 35px;
      margin:10px 10px 10px 0px;
      line-height: 35px;
      border-radius: 60%;
      flex-wrap: nowrap;
    }
    .footer-col {
      margin-top: 15px;
    }
  }
  
  /* Für Smartphone */
  
  @media only screen and (max-width: 650px) {
  
    .logo {
      height: 50px;
    }
    .Pfeil {
      margin-top: -42rem;
    } 
    .Team_Grafik{
      grid-template-columns: repeat(2,1fr);
    }
    .navigationsleiste {
      font-size: 1.2rem;
      gap: 1px;
      padding: 5px 7%;
    }
    .navigationsleiste li a{
      font-size: 1.2rem;
      padding: 1px 7px;
    }
    h1 {
      font-size: 2.1rem;
    }
    h3 {
      font-size: 1.6rem;
    }
    .Kalender {
      gap: 20px;
    }
    .Kalender_Text{
      font-size: 1.4rem;
      padding: 15px 25px;
      border-radius: 20%;
    }
    .Stadtbezirk{
      border-radius: 12px;
      height: 25px;
      width: 120px;
      font-size: 1.4rem;
    }
    #Stadtbezirk_Text{
      font-size: 1.4rem;
    }
    #partner_logos {
      grid-template-columns: repeat(2,1fr);
      gap: 10vw;
    }
    .blog_1, .blog_2, .blog_3 {
      flex: 100%;
      font-size: 1.4rem;
      padding: 10px 30px;
      margin-bottom: 20px;
      margin-top: 30px;
    }
    .blog {
      margin-top: 1.2rem;
      max-width: 90%;
    }
    .blog_1  img, .blog_3  img{
      height:50%;
    }
    .blog_2  img{
      max-height: 400px;
      max-width: 100%;
      margin-top: 30px;
    }
    .blog_1 h2, .blog_2 h2, .blog_3 h2 {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .footer-col{
      width: 20rem;
    }
    .footer-col h4, .footer-col_2 h4{
      font-size: 1.2rem;
    }
    .footer-col ul li, .footer-col_2 ul li{
      font-size: 1.2rem;
      margin-left: 80px;
      margin-top: 10px;
      line-height: 5px;
    }
    .footer-col ul li a, .footer-col_2 ul li a{
      font-size: 1.2rem;
    }
    .footer-folgeuns{
      font-size: 1.2rem;
      margin-left: 100px;
      margin-top: 20px;
      line-height: 10px;
    }
    .social-links a{
      height: 20px;
      width: 20px;
      margin:10px 10px 10px 0px;
      line-height: 20px;
      border-radius: 60%;
      flex-wrap: nowrap;
    }
  }
  
  
  