header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #dee1dd;
  padding: 22px;
  position: fixed;

}


/*header*/
img {
  max-width: 100%;
  max-height: 100%;
 }

 .logo {
  height: 4%;
  width: 4%;
 }

.navigationsleiste {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0;
  list-style: none;
  font-size:  20pt;
  font-family: Arial, Helvetica, sans-serif,;
  gap: 60px;
}

.navigationsleiste ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigationsleiste li {
  float: right;
}

.navigationsleiste li a {
  display: block;
  color: #36403c;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navigationsleiste li a:hover {
  background-color: #a3bfb5;
  border-radius: 30px;
}

#partner_logos {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3,1fr);
  gap: 10em;
  align-items:center;
}


.partner_logos {
  object-fit: cover;
  width: 400%;
  margin-left: 200px;
}

/*Elemente mit Abstand zu Rand*/

#Muovi{
margin-left: 200px;
}

#Abholdienst{
  margin-left: 200px;
}

#Partner{
    margin-left: 200px;
}

#Blog{
    margin-left: 200px;
}

#Stadtbezirk_Text{
  margin-left: 200px;
  font-size: 20px;
}

/*Abholdienst Kalender*/
.Kalender {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 200px;
  margin-right: auto;
  gap: 70px;
  
}


.Kalender_Text{
  background-color: #ded8ce;
  padding: 15px 40px;
  font-size: 40px;
  border-radius: 30px;
}

/*Abholdienst Suchfunktion*/

.Stadtbezirk{
  background-color: #ded8ce;
  border-radius: 16px;
  height: 32px;
  width: 200px;
  padding-left: 10px;
  font-size: 1.25rem;
}

/*Team*/

.Team_Grafik{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10em;
  align-items:center;
}

/*Blog*/

.blog {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 200px;
  max-width: 80%;
  margin-right: auto;
  gap: 150px;
}

.blog_1 {
  background-color: #ded8ce;
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 30px;
  text-align: justify;
}
.blog_2 {
  background-color: #ded8ce;
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 30px;
  text-align: justify;
}
.blog_2  img{
align-items: center;
}


/*Footer Start*/

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
body{
    line-height: 1.5;
    font-family: 'Helvetica Neue', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    margin:auto;
    background-color: #dee1dd;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
 display: flex;
 justify-content: space-between;
 flex-wrap: nowrap;
}

.footer-col{
    width: 33%;
    justify-content: space-between;
}

.footer-col h4{
    font-size: 18px;
    /*color: #dd8d8d;*/
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;

}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
  margin-left: 200px;
  margin-top: 20px;
  line-height: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    display: block;
}
.footer-col ul li a:hover{
	display: inline-block;
	position: relative;
	color: #a3bfb5;
  }

.footer-folgeuns {
  line-height: 10px;
  margin-top: 20px;
  margin-left: 200px;
}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #fffbf8;
	margin:20px 20px 20px 0px;
	text-align: center;
	line-height: 40px;
	border-radius: 60%;
	color: #000000;
	transition: all 0.5s ease;
}

.footer-folgeuns .social-links a:hover{
	color: #fffbf8;
	background-color: #a3bfb5;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*Footer Ende*/






/* Für Smatrphone */


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .Team_Grafik{
    grid-template-columns: repeat(2,1fr);
  }
}