header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fffbf8;
  padding: 22px;
  
}

img {
  max-width: 100%;
  max-height: 100%;
 }

 .logo {
  height: 4%;
  width: 4%;
 }

.navigationsleiste {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0;
  list-style: none;
  font: size 30pt;
  font-family: Arial, Helvetica, sans-serif,

}

.navigationsleiste ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigationsleiste li {
  float: right;
}

.navigationsleiste li a {
  display: block;
  color: #36403c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationsleiste li a:hover {
  background-color: #dee1dd;
}

.partner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
}

.partner_logos {
  background: #eee;
}

.partner_logos img {
  display: block;
  /* Make sure max-width is added */
  max-width: 100%;
  width: 100%;
}

/*#partner_logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.partner_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brands__item {
  flex: 0 0 50%;
}

@media (min-width: 700px) {
  .brands__item {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 1100px) {
  .brands__item {
    flex: 0 0 25%;
  }
}
*/


/*.Partner_Denner {

}

.Partner_Migros {

}

.Partner_Migrolino {

}

.Partner_Post {

}

.Partner_Volg {

}

.Partner_Coop {

} */



/* Für Smatrphone */


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}